name: Conda Package Build

on:
  push:
    branches:
      - production
  pull_request:
    branches:
      - production

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]  
        python-version: [3.11]
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          mamba-version: "*"
          channels: dwr-cvm,cadwr-dms,defaults,conda-forge
          python-version: ${{ matrix.python-version }}
          activate-environment: build-pandss
          auto-activate-base: false
      

      - name: Install conda-build and anaconda-client
        run: conda install -y conda-build anaconda-client

      - name: Build and  upload package
        if: ${{ matrix.os == 'ubuntu-latest' || matrix.os == 'windows-latest' }}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
        run: conda build . --user dwr-cvm --no-force-upload
